*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    display: flex;
    min-height: 100vh;
    justify-content: center;
}
.menu-container{
    width:90%;
}
.heading h1{
    font-family:'Roboto',sans-serif ;
    letter-spacing: 3px;
    color: hsl(209, 61%, 16%);
    text-align: center;
    padding: 1rem 0;
}
.heading{
    padding: 1rem;
}
#item-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1190px;
    width: 95vw;
    margin: auto;
}
.underline{
    border-bottom: 5px #c59d5f solid  ;
    width: 6rem;
    margin: auto;
}
.item-image{
    height: 150px;
    width:250px;
    object-fit: cover;
    border: 4px solid #c59d5f ;
    border-radius: 0.5rem;
}
.item-title{
    font-family: 'Roboto',sans-serif;
    letter-spacing: 0.15rem;
    border-bottom: 1px black dotted;
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
    font-size: 0.875rem;
    padding:  0 0.5rem 0.5rem;
}
.price{
    color: #c59d5f;
}
.description{
    color: hsl(210, 22%, 49%);
    font-family: 'Open Sans',sans-serif;
    padding:0.5rem 2rem;
    line-height: 1.5;
}
.item{
    display: flex;
    justify-content: space-between;
    max-width: 40rem;
    width: 575px;
    padding: 0.5rem;
}
.button-container{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 3rem;
    padding-bottom:  2rem;;
}
.button-container button{
    background: transparent;
    font-family: 'Roboto',sans-serif;
    cursor: pointer;
    width:6rem;
    padding: 0.5rem;
    border: 1px solid #c59d5f;
    font-size: 1rem;
    border-radius: 10px;
    color: #c59d5f;
}
.button-container button:hover{
    background-color: #c59d5f;
    color: white;
    box-shadow: 1px 1px 5px hsl(0, 0%, 50%,0.5);
    transition: all 0.4s ease-in-out;
}
@media (max-width:1234px){
    #item-container{
        grid-template-columns: auto;
        justify-content: center;
    }
}
@media (max-width:720px){
    .item{
        flex-direction: column;
    }
    .item-image{
        width: 100%;
        height: 250px;
    }
    .button-container{
        gap: 0.5rem;
        margin: 1rem;
    }
    .item-text{
        width: 100%;
        text-align: left;
        margin: 1rem 0;
    }
    main{
        justify-content: flex-start;
    }
}